body {
  margin: 10px;
	background-color: whitesmoke;
	background-size: cover;
	background-position: center;
    font-family: verdana;
    font-weight: bold;
    color: maroon;
  border-radius: 15px;
}
.form-container{
  width: 100%;
  max-width: 400px;
  margin: auto;
  background-color: gainsboro;
  border-radius: 15px;
}
form{
      box-shadow: 0px 5px 25px -5px  gray;
      border-radius: 15px;
}
input[type=text], input[type=password]{
  width: 100%;
  margin: 10px 0;
  padding: 12px 20px;
  box-sizing: border-box;
}
button{
  background-color: maroon;
  padding: 12px 20px;
  margin: 8px 0;
  border: none;
  width: 100%;
  cursor: pointer;
}
a{
  text-decoration: none;
  color: white;
}
.img-container{
  text-align: center;
  margin: 24px 0 12px 0;
  padding: 15px 0;
  font-family: 'Lucida Sans';
  font-weight: bold;
}
img.images{
  width: 25%;
  border-radius: 40%;
}
.container{
  padding: 10px;
}